body {
  background-color: black;
  font-family: "Radiance";
}

@font-face {
  src: url(./assets/fonts/radiance.woff);
  font-family: "Radiance";
}

@font-face {
  src: url(./assets/fonts/Reaver-Regular.woff);
  font-family: "Reaver-Regular";
}

@font-face {
  src: url(./assets/fonts/Reaver-Bold.woff);
  font-family: "Reaver-Bold";
}

@font-face {
  src: url(./assets/fonts/Reaver-SemiBold.woff);
  font-family: "Reaver-SemiBold";
}

@font-face {
  src: url(./assets/fonts/radiance-semibold.woff);
  font-family: "Radiance-SemiBold";
}
